#sensitive stuff
*.pickle
*token*
credentials*
*.key*

#keep the folders (good idea?)
json/*
!json/.gitkeep
QR/*
!QR/.gitkeep
img/*
!img/.gitkeep
docx/
!docx/.gitkeep
logs/*
!logs/.gitkeep

#useless stuff?
*.pyc
*.pyo
Lib/
Include/
.vscode/
Scripts/
share/
pyenv.cfg