#sensitive stuff
*.pickle
*token.json
credentials.json
*.key

#keep the folders (good idea?)
json/*
!json/.gitkeep
QR/*
!QR/.gitkeep
img/*
!img/.gitkeep

#useless stuff?
*.pyc
*.pyo
Lib/
Include/
.vscode/
Scripts/
share/
pyenv.cfg